<% include partials/header %>
<div class="container" id="homeSearch">
	<h1>Magic: The Gathering | Card Search</h1>
	<h2>Search for a card:</h2>
	<form action="/results" method="GET">
		<input type="text" placeholder="Card name" name="search">
		<input type="submit">
	</form>
</div>

<% include partials/footer %>